<!DOCTYPE html>

<html>

	<head>
		<title> Data Analysis </title>
	</head>

	<body>

		{% if messages %}
			<ul>
			{% for message in messages %}
				{% if message.tags == 'warning' %}
					<li>
						{{ message }}
					</li>
				{% endif %}
			{% endfor %}
			</ul>
		{% endif %}

		<form id = "analysis params" method = "post" action = "">
			{% csrf_token %}

			<input type = "checkbox" name = "name" value = "" {% if name %} checked {% endif %}> Patient Name <br/>

			<input type = "checkbox" name = "type" value = "" {% if type %} checked {% endif %}> Test Type <br/>

			<input type = "checkbox" name = "time" value = "" {% if time %} checked {% endif %}> Time Frame <br/>

			<input type = "submit" value = "submit"/>
		</form>

	</body>

</html>