<!DOCTYPE html>

<html>
	<title>Home</title>
	<head>Welcome</head>

	<body>
	
		<FORM action="/">{% csrf_token %}<INPUT Type="submit" VALUE="Logout"></FORM>
		<br />
		<FORM action="/help/">{% csrf_token %}<INPUT Type="submit" VALUE="HELP"></FORM>

		<br />

		<form action="/changePass/" method="GET">
		{% csrf_token %}

		<input type="submit" value="Change Password" />
		</form>

		<br />

		<form action="/changeInfo/" method="GET">
		{% csrf_token %}

		<input type="submit" value="Change Info" />
		</form>

		<br />

		{% if class == 'Admin' %}

			<form action="/userManagment/" method="GET">
			{% csrf_token %}

			<input type="submit" value="User Managment" />
			</form>

			<br />
			<form action="/report/" method="GET">
				<input type="submit" value="Get Report" />
			</form> <br/>

			<form action="/analysis/" method="GET">
				<input type="submit" value="Get OLAP Report"/>
			</form>
			<br/>
		{% endif %}

		{% if class == 'Radiologist' %}

			<form action="/uploadRecord/" method="GET">
			{% csrf_token %}

			<input type="submit" value="Upload Record" />
			</form>

			<br />

			<form action="/uploadImages/" method="GET">
			{% csrf_token %}

			<input type="submit" value="Upload Images" />
			</form>
			<br/>

		{% endif %}

		<form action = "/search/" method="GET">
		<input type="submit" value="Search"/>
		</form>
		<br/>

	</body>
<html/>